@charset "utf-8";

/*==================================================================
// btn
//================================================================*/

.btn {
  display: inline-block;
  @include anime-normal();
  border-radius: 5px;
  &:hover {
    opacity: 0.8;
  }
  @include tab-large {
    // width: 100%;
  }
}

.ctaBtn {
  color: var(--color-White);
  @include font-mx(16, 15, 60, 15);
  font-weight: $fw-medium;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  &.--contact {
    background-color: var(--color-btnOrangeBg);
    @include icon-after(
      $width: 12px,
      $height: 18px,
      $path: url(../../../assets/img/common/icon_arrow_right_white.png)
    );
    &::after {
      position: absolute;
      top: calc(50% + 2px);
      transform: translateY(-50%);
      right: 20px;
    }
    span {
      @include icon-before(
        $width: 16px,
        $height: 12px,
        $path: url(../../../assets/img/common/icon_mail.png)
      );
      &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -36px;
      }
    }
  }

  &.--line {
    background-color: var(--color-Line);
    @include icon-after(
      $width: 12px,
      $height: 18px,
      $path: url(../../../assets/img/common/icon_arrow_right_white.png)
    );
    &::after {
      position: absolute;
      top: calc(50% + 2px);
      transform: translateY(-50%);
      right: 20px;
    }
    span {
      @include icon-before(
        $width: 35px,
        $height: 35px,
        $path: url(../../../assets/img/common/icon_line.png)
      );
      &::before {
        position: absolute;
        top: calc(50% + 2px);
        transform: translateY(-50%);
        left: -50px;
      }
    }
  }
}

.spPrimaryBtn {
  color: var(--color-White);
  @include font-mx(15, 15, 60, 15);
  font-weight: $fw-medium;
  padding-top:15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin-right: 10px;
  }
  &.--contact {
    background-color: var(--color-btnOrangeBg);
    span {
      @include icon-before(
        $width: 1.2em,
        $height: 1.2em,
        $path: url(../../../assets/img/common/icon_mail.png)
      );
      &::before {
        position: absolute;
        top: calc(50% + 2px);
        transform: translate(-50%, -50%);
        left: calc(50% - 105px);
      }
    }
  }
  &.--line {
    background-color: var(--color-Line);
    span {
      @include icon-before(
        $width: 1.6em,
        $height: 1.6em,
        $path: url(../../../assets/img/common/icon_line.png)
      );
      &::before {
        position: absolute;
        top: calc(50% + 2px);
        transform: translate(-50%, -50%);
        left: calc(50% - 105px);
      }
    }
  }
}

.pcNav__contactBtn {
  display: inline-block;
  @include anime-normal();
  &:hover {
    opacity: 0.8;
  }
  background-color: var(--color-btnOrangeBg);
  color: var(--color-White) !important;
  height: 80px;
  font-weight: $fw-medium;
  padding-right: rem(24) !important;
  padding-left: rem(24) !important;
  font-size: rem(15) !important;
  @include l_spacing(60);
  @include icon-before(
    $width: 20px,
    $height: 16px,
    $path: url(../../../assets/img/common/icon_mail.png)
  );
  &::before {
    margin-right: 0.55rem;
  }
}

.snsBtn {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--color-White);
  box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchByBtn {
  background-color: var(--color-Primary);
  color: var(--color-White);
  &.--train {
    @include icon-before(
      21px,
      16px,
      url(../../../assets/img/common/icon_train.png)
    );
  }
  &.--area {
    @include icon-before(
      21px,
      16px,
      url(../../../assets/img/common/icon_map.png)
    );
  }

  flex-direction: column !important;
  @include sp {
    flex-direction: row !important;
  }
  justify-content: center;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
  &::before {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: calc(50% - 3.8rem);
    @include sp {
      left: calc(50% - 7.5rem);
    }
  }
  span {
    display: inline-block;
    font-size: 10px;
    @include sp {
      margin-left: 4px;
    };
  }
  width: 195px;
  height: 50px;
  font-size: 15px;
  @include sp {
    width: 49%;
  }
  @include sp_small {
    width: 100%;
  }
}

.keyword-search {
  width: 100%;
  height: 42px;
  display: flex;
  .text-input {
    // width: auto;
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 13px;
    border: 1px solid var(--color-Gray02);
    border-right: none;
  }
  .submit-btn {
    background-color: var(--color-Primary);
    height: 100%;
    aspect-ratio: 1 / 1;
    width: auto;
    display: inline-block;
    @include icon-before(
      20px,
      20px,
      url(../../../assets/img/common/icon-search.png)
    );
    border: none;
    &::before {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }
}

.btnToList {
  background-color: var(--color-Blue02);
  color: var(--color-White);
  font-size: 16px;
  @include l_spacing(50);
  font-weight: $fw-medium;
  padding-top: rem(12);
  padding-bottom: rem(12);
  width: 215px;
  border-radius: 5px;
  @include icon-after(
    18px,
    18px,
    url(../../../assets/img/common/icon_arrow_round.png)
  );
  justify-content: center;
  padding-left: 20px;
  &::after {
    margin-left: rem(26);
  }
}

.btnWhite {
  color: var(--color-Blue03);
  background-color: var(--color-White);
  border: 1px solid var(--color-Blue03);
  border-radius: 5px;
  @include fontSize-mx(15, 14);
  @include l_spacing(0);
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 42px;
  padding-right: 56px;

  @include sp {
    max-width: 300px;
    display: flex;
    justify-content: center;
  };
  @include sp {
    max-width: 100%;
      width: 100%;
  };
  @include icon-after(
    15px,
    21px,
    url(../../../assets/img/common/arrow_right_blue.png)
  );
  display: inline-block;
  margin: 0 auto;
  &::after {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 1rem;
  }
}

.btnUnderLine {
  color: var(--color-Primary);
  @include fontSize-mx(16, 14);
  @include l_spacing(0);
  padding-left: 12px;
  padding-bottom: 13px;
  // padding-right: 48px;
  border-bottom: 1px solid var(--color-Primary);
  @include icon-after(
    31px,
    5.3px,
    url(../../../assets/img/common/halfarrow_right_blue.png)
  );
  display: inline-block;
  &::after {
    margin-left: 14px;
  }
}

