@charset "utf-8";

/*==================================================================
// btn
//================================================================*/

.btn {
  display: inline-block;
  @include anime-normal();
  border-radius: 5px;
  &:hover {
    opacity: 0.8;
  }
  @include tab-large {
    width: 100%;
  }
}

.spPrimaryBtn {
  color: var(--color-White);
  @include font(15, 60, 15);
  font-weight: $fw-medium;
  padding-top: rem(15);
  padding-bottom: rem(15);
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin-right: 10px;
  }
  &.--contact {
    background-color: var(--color-btnOrangeBg);
    img {
      margin-top: 2px;
    }
    // @include icon(
    //   $width: 18px,
    //   $height: 15px,
    //   $path: url(../../../assets/img/common/icon_mail.png)
    // );
    // &::before {
    //   position: absolute;
    //   top: calc(50% + 2px);
    //   left: calc(50% - 70px);
    //   transform: translate(-50%, -50%);
    // }
  }
  &.--line {
    background-color: var(--color-Line);
    // @include icon(
    //   $width: 28px,
    //   $height: 28px,
    //   $path: url(../../../assets/img/common/icon_line.png)
    // );
    // &::before {
    //   position: absolute;
    //   top: calc(50% + 2px);
    //   left: calc(50% - 70px);
    //   transform: translate(-50%, -50%);
    // }
  }
}

.pcNav__contactBtn {
  display: inline-block;
  @include anime-normal();
  &:hover {
    opacity: 0.8;
  }
  background-color: var(--color-btnOrangeBg);
  color: var(--color-White) !important;
  height: 80px;
  font-weight: $fw-medium;
  padding-right: rem(24) !important;
  padding-left: rem(24) !important;
  font-size: rem(15) !important;
  @include l_spacing(60);
  @include icon(
    $width: 20px,
    $height: 16px,
    $path: url(../../../assets/img/common/icon_mail.png)
  );
  &::before {
    margin-right: 0.55rem;
  }
}

.snsBtn {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--color-White);
  box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchByBtn {
  background-color: var(--color-Primary);
  color: var(--color-White);
  display: inline-block;
  @include icon(21px, 16px, url(../../../assets/img/common/icon_train.png));
  width: 195px;
  height: 50px;
  font-size: rem(15);
}

.c-btn {
  display: inline-block;
  @include anime-normal();

  & > a {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__wrap {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  // Style =====================

  &.--headNav {
    @include title_font();
    @include font(16, 20, 20);
    border-radius: 999px;
    border: solid 2px;
    width: 200px;
    height: 64px;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 0%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 999px;
      @include anime-normal();
    }

    &:hover {
      transform: scale(1.1) rotate(0.07deg);
      a {
        opacity: 1;
      }
    }

    .icon {
      margin-right: 12px;
      width: 35px;
      height: 35px;
    }
  }

  &.--rounded {
    @include title_font();
    @include font(16, 20, 20);
    border-radius: 999px;
    border: solid 2px;
    a {
      padding: 1em 1em;
    }

    &:hover {
      transform: scale(1.1) rotate(0.07deg);
      a {
        opacity: 1;
      }
    }
  }

  &.--hitodama {
    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 120%;
      aspect-ratio: 80/130;
      background: url(../img/hitodama_01.png) no-repeat center center !important;
      background-size: contain !important;
      will-change: transform, animation;
      animation: fuwafuwa 2s infinite ease-in-out both;
    }
    &::before {
      left: -20px;
    }
    &::after {
      right: -20px;
      animation-delay: 0.4s;
    }
  }

  // Color =====================

  &.--color {
    &-ocher {
      background: var(--color-btnOcherBg);
      border-color: var(--color-btnOcherBorder);
      a {
        color: var(--color-btnOcherText);
      }
      &::after {
        background: var(--color-btnOcherText);
        a {
          color: var(--color-btnOcherBg);
        }
      }
    }
    &-twi {
      background: var(--color-btnTwitterBg);
      border-color: var(--color-btnTwitterBorder);
      a {
        color: var(--color-btnTwitterText);
      }
      &::after {
        background: var(--color-btnTwitterText);
        a {
          color: var(--color-btnTwitterBg);
        }
      }
    }
    &-turquoise {
      background: var(--color-btnTurquoiseBg);
      border-color: var(--color-btnTurquoiseBorder);
      a {
        color: var(--color-btnTurquoiseText);
      }
      &::after {
        background: var(--color-btnTurquoiseText);
        a {
          color: var(--color-btnTurquoiseBg);
        }
      }
    }
    &-orange {
      background: var(--color-btnOrangeBg);
      border-color: var(--color-btnOrangeBorder);
      a {
        color: var(--color-btnOrangeText);
      }
      &::after {
        background: var(--color-btnOrangeText);
        a {
          color: var(--color-btnOrangeBg);
        }
      }
    }
  }
}

@mixin btn-octagon(
  $color: var(--color-White),
  $bgColor: var(--color-Primary),
  $size: 20px,
  $width: 100%
) {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  width: $width;
  margin-top: $size;
  margin-bottom: $size;
  background-color: $bgColor;
  border-color: $bgColor;
  color: $color;
  line-height: 1;
  padding: 0 1em;
  z-index: 1;

  &:hover {
    opacity: 1;
  }

  &::before,
  &::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    border: $size solid transparent;
    z-index: -1;
  }
  &::before {
    bottom: 100%;
    border-bottom-color: inherit;
  }
  &::after {
    top: 100%;
    border-top-color: inherit;
  }
}

.c-btn-octagon {
  @include btn-octagon();
}
