@charset "utf-8";

/*==================================================================
// news-list
//================================================================*/

.newsList {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
  }
  &__date {
    @include font(16, 0, 16);
    width: 10%;
    max-width: 100px;
  }
  &__title {
    @include font(16, 0, 16);
    text-decoration: underline;
    color: var(--color-Black01);
    width: 80%;
    max-width: 882px;
  }
}
