@charset "utf-8";

/*==================================================================
// pageHead
//================================================================*/

.pageHead {
  width: 100%;
  background-size: cover;
  background-position: center center;
  height: 400px;
  @include sp {
    height: 300px;
  };
  &__title {
    @include fontSize-clamp(43, 28);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    color: var(--color-White);
    font-weight: $fw-regular;
    span {
      @include fontSize-clamp(21, 16);

    }
  }

  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
   }
}