@charset "utf-8";

//==================================================================
// Variables - Common
//==================================================================

// Main Theme Colors
$theme-colors: (
  "White": #ffffff,
  "White01": #f8f8f8,
  "White02": #F3F3F3,
  "White03": #e0e0e0,
  "Gray": #F8F8F8,
  "Gray01": #c0c0c0,
  "Gray02": #CFCFCF,
  "Gray03": #BCBCBC,
  "Gray04": rgba( #333, .07), //u
  "Gray05": #E9E9E9, //u
  "Gray06": #949494, //u
  "Gray07": #EEE, //u
  "Gray08": #ECECEC,
  "Gray09": #EFEFEF,
  "Gray10": #CBCBCB,
  "Gray11": #F6F6F6,
  "Gray12": #ECECEC,
  "Gray13": #676767,
  "Gray14": #707070,
  "Gray15": #CCCCCC,
  "Gray16": #E1E1E1,
  "Gray17": #CECECE,
  "Gray18": #858585,
  "Gray19": #BFBFBF,
  "Gray20": #C9C9C9,
  "Gray21": #9D9D9D,
  "Black": #000000,
  "Black01": #333333,
  "Black02": #484848,
  "Black03": #606060,
  "Black04": #5E5E5E,
  "Black05": #4A4A4A,
  "Blue01": #A8B2C7,// using
  "Blue02": #0070DF, //u
  "Blue03": #00297B, //u
  "Blue04": #0D5FB1, //u
  "Blue05": #001D58, //u
  "Blue06": #2A71B8, //u
  "Blue07": #0065CB, //u
  "bgBlue01": #FBFCFF, //u
  "Orange01": #DB4314,
  "Orange02": #DB7833,
  "Red01": #D81212,
  "Primary": #001D58,
  "PrimaryLight": #d7414b,
  "PrimaryDark": #960019,
  //"PrimaryGrad1": linear-gradient(90deg, #c8328c, #be3291),
  //"PrimaryGrad2": linear-gradient(90deg, #d2268f, #bf3392),
  //"Secondary": #ffb955,
  //"SecondaryLight": #fff582,
  //"SecondaryGrad": linear-gradient(90deg, #ffb955, #fff582),
  //"SectionA_Border": #e4ca59,
  //"SectionB_Border": #2aa6a8,
  // Text
  "TextDefault": var(--color-Black),
  "TextTitle": #393939,
  // Link
  "Link": #006699,
  "LinkVisited": #006699,
  "LinkHover": #993300,
  "LinkActive": #993300,
  // Background
  "Bg": #f5f5f5,
  "FooterBg": #092B4A,
  // Scrollbar
  "ScrollBg": #1f54a8,
  "ScrollColor": #fff,
  "btnPraGrad": linear-gradient(44deg, #d2268f, #b722a4),
  // Button
  "btnOcherBg": #e4ca59,
  "btnOcherBorder": #c1a221,
  "btnOcherText": #8d4411,
  "btnTwitterBg": #38b1e7,
  "btnTwitterBorder": #fff,
  "btnTwitterText": #ffffff,
  "btnTurquoiseBg": #2aa6a8,
  "btnTurquoiseBorder": #147d7f,
  "btnTurquoiseText": #ffffff,
  "btnOrangeBg": #E69500,
  "btnOrangeBorder": #db481c,
  "btnOrangeText": #ffffff,
  // Sidebar
  "SidebarText": #ffffff,
  "SidebarHr": #9e0f70,
  // SNS
  "Facebook": #3b5998,
  "Twitter": #55acee,
  "Line": #06C756,
  "Youtube": #EB2828,
  "Tiktok": #333030,
  // Other
  "LoadingBg": #554848,
);

// Dark Theme Colors
$dark-theme-colors: $theme-colors;

// Breakpoints
$pc_large: 1650px;
$pc_medium: 1440px;
$pc: 1280px;
$tab_large: 1080px;
$tab: 1024px;
$sp: 768px;
$sp_small: 480px;
$sp320: 320px;

// Font Size
$font-size-base: 16px;
$font-size-tab: 1.56vw;
$font-size-sp: 2.08vw;
$font-size-sp320: 3.75vw;

// Style
$main-height: 100vh;
$width-pc: 1200px;
$width-sp: 90%;
$hover_opacity: 0.7;
$anime-normal: all 0.2s ease-in-out;

// z-index
$zi-base: 1;
$zi-bg: 0;
$zi-container: 100;
$zi-header: 200;
$zi-footer: 100;
$zi-backdrop: 300;
$zi-gNav: 400;
$zi-gNav-sp: 500;
$zi-loading: 999;

//icon-list
$icon-color-default: map-get($theme-colors, "white");
$icon-dir: "../ico/";
$icon-list: "arrow-up", "arrow-down", "arrow-left", "arrow-right", "mail",
  "arrow", "download";

// font-weight
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;
