@charset "utf-8";

/*==================================================================
// abt
//================================================================*/

.abt-philosophy {
  background-color: var(--color-bgBlue01);
  // @extend .sectionContainer;
  padding-top: 100px;
  padding-bottom: 100px;
  @include tab-large {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  @include sp {
    padding-top: 30px;
    padding-bottom: 47px;
  }
  &__img {
    width: 45%;
    max-width: 450px;
    @include sp {
      width: 100%;
      max-width: 100%;
      margin-bottom: 18px;
    }
    img {
      display: inline-block;
      width: 100%;
      aspect-ratio: 450 / 300;
      object-fit: cover;
    }
    &.is-sp {
      @include sp {
        margin-bottom: 20px;
      };
    }
  }
  &__inner {
    @include wrapper(1080px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include sp {
      flex-direction: column;
      width: 100%;
    }
  }
  &__container {
    width: 50%;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include sp {
      width: 100%;
      max-width: 100%;
    }
  }
  &__title {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 18px;
    padding-top: 0;
    margin-top: rem(43);
    @include font-clamp(25, 21, 0, 25);
    font-weight: $fw-bold;
    border-bottom: none;
    position: relative;
    &::after {
      display: none;
    }
    @include sp {
      border-bottom: 2px solid var(--color-Gray03);
      padding-bottom: rem(18);
      margin-bottom: 24px;
      &::after {
        content: "";
        display: inline-block;
        width: 30%;
        height: 2px;
        background-color: var(--color-Blue03);
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
      }
    }
    span {
      @include font-clamp(74, 53, 60, 74);
      font-weight: $fw-bold;
    }

    // &--sp {
    //   @include sp {
    //     width: 100%;
    //     margin-bottom: 18px;
    //   }
    // }
    // &.sp {
    //   @include sp {
    //         width: 100%;
    //         margin-bottom: 18px;
    //     display: block;
    //   };
    // }
  }
  &__subTitle {
    width: 100%;
    @include font-clamp(18, 16, 0, 18);
    font-weight: $fw-bold;
    position: relative;
    margin-bottom: 41.5px;
    @include sp {
      margin-bottom: 36px;
    }
    &::after {
      content: "";
      width: 45px;
      height: 2px;
      background-color: var(--color-Primary);
      display: inline-block;
      position: absolute;
      bottom: -23px;
      left: 0;
      @include sp {
        width: 35px;
        bottom: -18px;
      }
    }
  }
  &__text {
    width: 100%;
    // @include font(16, 44, 31);
    @include font-clamp(16, 14, 44, 31);
    font-weight: $fw-regular;
    margin-bottom: 40px;
    @include sp {
      margin-bottom: 18px;
    }
  }

}

.abt-table {
  @extend .sectionContainer;
    // padding-top: 40px;
    // padding-bottom: 88px;
    // @include sp {
    //   padding-bottom: 60px;
    // };

}