@charset "utf-8";

/*==================================================================
// Footer
//================================================================*/
.footer {
  background-color: var(--color-FooterBg);
  color: var(--color-White);
  padding-top: 50px;
  padding-bottom: 36px;
  a {
    color: var(--color-White);
  }

  &__logo {
    display: flex;
    width: 153px;
    img {
      width: 100%;
    }
    // @include pc {
    //   width: 13vw;
    //   min-width: 130px;
    // }
  }

  &__inner {
    @include wrapper;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__left {
    width: 17%;
    max-width: 177px;
  }

  &__sns__text {
    @include font(14, 0, 14);
    margin-top: 16px;
  }

  &__snsList {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
  }

  &__snsItem {
    display: inline-block;
    &:not(:last-of-type) {
      margin-right: 16px;
    }
  }

  &__contactBtn {
    width: 186px;
    display: flex;
    align-items: center;
    height: 53px;
    justify-content: center;
    border: 1px solid var(--color-White);
    border-radius: 5px;
    @include font(16, 0, 16);
  }

  &__bottom {
    width: 100%;
  }

  &__bottomList {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &__bottomItem {
    a {
      @include font(12, 0, 12);
      text-decoration: underline;
    }
  }

  &__copyright {
    @include font(10, 0, 10);
    display: block;
    text-align: center;
  }
}

.footerNav {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 74px;
  &__item {
    display: flex;
    flex-direction: column;
    &:not(:last-of-type) {
      margin-right: 25px;
    }
  }
  &__heading {
    @include font(16, 0, 16);
    padding-bottom: 7px;
    border-bottom: 1px solid var(--color-White);
  }

  &__subList {
    display: flex;
    flex-direction: column;
  }

  &__subItem {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 8px;
    a {
      height: 100%;
      @include font(13, 0, 13);
      display: inline-block;
      &::before {
        content: "-";
        margin-right: 3px;
      }
    }
  }
}
