@charset "utf-8";

/*==================================================================
// Header
//================================================================*/

.header {
  &__logo {
    &--white {
      display: block;
    }
    &--black {
      display: none;
    }
  }

  &.js-bg-white {
    .header__logo {
      &--white {
        display: none;
      }
      &--black {
        display: block;
      }
    }
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $zi-header;
  transition: $anime-normal;
  background-color: transparent;
  // テスト用
  background-color: var(--color-Black);

  &__inner {
    position: relative;
    height: 80px;
    @include sectionInner;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    width: 180px;
    z-index: 3;
    .logo {
      width: 100%;
      max-width: 180px;
    }
    @include pc {
      width: 13vw;
      min-width: 130px;
    }
  }
}
.pcNav {
  display: block;
  @include tab-large {
    display: none;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    a {
      font-size: rem(19);
      color: var(--color-White);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 34px;
      padding-right: 34px;
      line-height: 1;
      span {
        @include en_font;
        display: inline-block;
        font-weight: $fw-light;
        font-size: rem(15);
        letter-spacing: 0;
        line-height: 1;
        margin-top: 6px;
      }
    }
    &.tel {
      a {
        font-size: rem(13);
        letter-spacing: 0;
        line-height: 1;
        span {
          @include ja_font;
          @include l_spacing(35);
          font-size: rem(22);
          line-height: 1;
          @include icon(
            $width: 20px,
            $height: 20px,
            $path: url(../../../assets/img/common/icon_phone.svg)
          );
          &::before {
            margin-right: 0.4em;
            margin-top: 4px;
          }
        }
      }
    }
  }
}

.spNav {
  display: none;
  @include tab-large {
    display: block;
  }

  width: 100%;
  &__list {
    width: 100%;
    @include wrapper;
  }
  &__item {
    width: 100%;
    border-top: 1px solid var(--color-Primary);
    &:last-of-type {
      border-bottom: 1px solid var(--color-Primary);
    }

    a {
      width: 100%;
      display: inline-block;
      font-weight: $fw-bold;
      color: var(--color-Primary);
      @include font(18, 0, 26);
      padding-top: rem(15);
      padding-bottom: rem(15);
      span {
        @include en_font;
        font-size: rem(12);
        font-weight: $fw-medium;
        margin-left: 10px;
      }
    }
  }

  &__btnContainer {
    @include wrapper;
  }
}

.hamburger {
  position: relative;
  width: 46px;
  height: 32px;
  margin-left: 32px;
  flex-shrink: 0;
  z-index: 3;
  cursor: pointer;

  @include sp() {
    margin-left: 1rem;
  }

  span {
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    background: var(--color-White);

    transition: top 0.24s, transform 0.24s, opacity 0.24s;
    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      top: 100%;
      transform: translateY(-100%);
    }
  }

  &.is-open {
    span {
      &:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(135deg);
      }

      &:nth-child(2) {
        transform: translate(50%, -50%);
        opacity: 0;
      }

      &:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-135deg);
      }
    }
  }
}
// .header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   z-index: $zi-header;
//   transition: $anime-normal;
//   background-color: var(--color-Black);

//   //border-bottom: solid white 1px;

//   &__inner {
//     position: relative;
//     height: 80px;
//     @include sectionInner;
//     padding: 0;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//   }

//   &__logo {
//     display: flex;
//     flex-direction: row;
//     width: 180px;
//     z-index: 3;

//     @include pc() {
//       width: 100%;
//       flex-grow: 1;
//     }

//     .logo {
//       width: 100%;
//       max-width: 180px;
//     }
//   }

//   &__languageBtn {
//     @include en_font;
//     @include font(12, 100, 24);
//     color: var(--color-White);
//     border: 1px solid var(--color-White);
//     padding: 0.4em 2.6em;
//     z-index: 1;

//     @include sp {
//       padding: 0.4em 2em;
//     }
//   }
// }

// .headNav {
//   position: relative;
//   flex-grow: 1;
//   height: 80px;
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
//   flex-wrap: nowrap;
//   z-index: 2;

//   @include pc() {
//     @include anime-normal();

//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     display: flex;

//     visibility: hidden;
//     opacity: 0;

//     &.is-open {
//       visibility: visible;
//       opacity: 1;
//     }
//   }

//   &__list {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     justify-content: flex-end;
//     align-items: center;
//     height: 100%;
//     padding-right: 2rem;

//     @include pc() {
//       background: var(--color-Black);

//       flex-direction: column;
//       justify-content: center;
//       width: 100%;
//       padding: 80px 5vw;
//     }

//     &--item {
//       position: relative;

//       a {
//         @include font(16, 0, 32);
//         color: var(--color-White);
//         padding: 0.3em 1em;
//         display: flex;
//         justify-content: center;
//         align-items: center;

//         &:hover {
//           opacity: 1;
//           color: var(--color-Primary);
//         }

//         @include pc {
//           font-size: 2.4rem;
//           padding: 0 1em;
//         }
//         @include sp {
//           font-size: 1.6rem;
//         }
//       }

//       @include pc {
//         &:last-of-type {
//           margin-top: 3em;
//           width: 80%;
//           max-width: 420px;
//           a {
//             @include btn-octagon();
//             &:hover {
//               color: #{map-get($theme-colors, "White")}77;
//             }
//           }
//         }
//       }
//     }
//   }

//   @include pc {
//     .headNav__list--item {
//       opacity: 0;
//       &:last-of-type {
//         transform: translateX(0);
//       }

//       @for $i from 1 through 6 {
//         $num: $i;

//         &:nth-of-type(#{$i}) {
//           animation-delay: calc(0.1s * #{$i});
//         }
//       }
//     }
//     &.is-open {
//       .headNav__list--item {
//         animation-name: fadeLeftAnime;
//         animation-duration: 0.5s;
//         animation-fill-mode: forwards;
//       }
//     }
//   }
// }

// @keyframes fadeLeftAnime {
//   from {
//     opacity: 0;
//     transform: translateX(30px);
//   }

//   to {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }

// .hamburger {
//   position: relative;
//   width: 46px;
//   height: 32px;
//   margin-left: 32px;
//   flex-shrink: 0;
//   z-index: 3;
//   cursor: pointer;

//   @include sp() {
//     margin-left: 1rem;
//   }

//   span {
//     position: absolute;
//     width: 100%;
//     height: 4px;
//     left: 0;
//     background: var(--color-White);

//     transition: top 0.24s, transform 0.24s, opacity 0.24s;
//     &:nth-child(1) {
//       top: 0;
//     }

//     &:nth-child(2) {
//       top: 50%;
//       transform: translateY(-50%);
//     }

//     &:nth-child(3) {
//       top: 100%;
//       transform: translateY(-100%);
//     }
//   }

//   &.is-open {
//     span {
//       &:nth-child(1) {
//         top: 50%;
//         transform: translateY(-50%) rotate(135deg);
//       }

//       &:nth-child(2) {
//         transform: translate(50%, -50%);
//         opacity: 0;
//       }

//       &:nth-child(3) {
//         top: 50%;
//         transform: translateY(-50%) rotate(-135deg);
//       }
//     }
//   }
// }
