@charset "utf-8";

//==================================================================
// sidebar
//==================================================================
.sidebarLayout {
  &__left {
  }
  &__right {
    @include sp {
      display: none;
    }
  }
  @include pc() {
  }
  @include tab() {
  }
  @include sp() {
  }
}

.search {
  .sidebarLayout {
    &__right {
      @include tab-large {
        display: block;
        position: absolute;
      }
    }
  }
}

.searchOptionBtnContainer {
  display: none;
  @include tab-large {
    display: flex;
    position: fixed;
  }
  top: 64px;
  width: 100%;
  z-index: 100;
  background-color: var(--color-bgBlue01);
  box-shadow: 0px 3px 3px rgba($color: #000000, $alpha: 0.16);
  position: relative;
  .searchOptionBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: $fw-regular;
    &:not(:last-of-type) {
      &::after {
        content: "";
        width: 2px;
        height: 24px;
        background-color: var(--color-Gray22);
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
      }
    }
    width: 50%;
    height: 44px;
    // background-color: pink;
    // border: 1px solid grey;

    &.--param {
      @include icon-before(14px, 14px, url(../img/common/icon_search_blue.svg));
      &::before {
        margin-right: 10px;
      }
    }

    &.--sort {
      @include icon-before(
        25px,
        20px,
        url(../img/common/icon_sort_arrow_blue.svg)
      );
      &::before {
        margin-right: 5px;
      }
      select {
        border: none;
        background-color: transparent;
      }
    }
  }
}

.searchParams {
  background-color: var(--color-Gray12);
  border-radius: 3px;
  overflow: hidden;
  padding-bottom: 35px;
  color: var(--color-Black01);
  @include tab-large {
    display: none;
    max-height: calc(100vh - 150px);
    overflow-y: scroll;
  }
  &__heading {
    @include fontSize-clamp(16, 14);
    color: var(--color-White);
    font-weight: $fw-medium;
    background-color: var(--color-Blue03);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    margin-bottom: 12px;
  }

  &__inner {
    width: 100%;
    padding: 0 10px;
  }

  &__title {
    color: var(--color-Black01);
    font-weight: $fw-medium;
    @include fontSize-clamp(16, 14);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
    &::before {
      content: "";
      width: 7px;
      height: 14px;
      background-color: var(--color-Blue03);
      display: inline-block;
      margin-right: 4px;
    }
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
    &:last-of-type {
      margin-bottom: 27px;
    }
  }

  &__area {
    @include fontSize-clamp(16, 16);
    &__head {
      font-weight: $fw-medium;
    }
    &__body {
      font-weight: $fw-regular;
      line-height: 1.4em;
      &::before {
        content: "└";
        display: inline-block;
        margin-right: 5px;
      }
    }
  }

  select {
    border-radius: 2px;
    border: 1px solid var(--color-Gray13);
    @include fontSize-clamp(14, 14);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 13px;
  }

  &__checkbox {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tab-large {
      justify-content: flex-start;
      column-gap: 30px;
    }
    &.--col2 {
      li {
        width: 50%;
        @include tab-large {
          width: auto;
        }
      }
    }
    &.--col1 {
      li {
        width: 100%;
        @include tab-large {
          width: auto;
        }
      }
    }
    label {
      @include fontSize-clamp(16, 16);
    }
    input[type="text"] {
      border: 1px solid var(--color-Gray14);
    }
  }

  &--hidden {
    display: none;
    &.js-searchParamsMore {
      display: block;
      @include tab-large {
        display: flex;
      }
    }
  }

  &__more {
    color: rgba($color: #333, $alpha: 0.76);
    @include fontSize-clamp(14, 14);
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 3px;
    cursor: pointer;
    &::after {
      content: "";
      width: 12px;
      height: 6.5px;
      display: inline-block;
      background-image: url(../img/common/arrow_bottom.png);
      background-size: cover;
      margin-left: 5px;
    }
  }
}

.sidebar {
  margin-bottom: 100px;
  @include tab-large {
    position: fixed;
    top: 120px;
    left: 0;
    right: 0;
    z-index: 400;
    width: 90%;
    margin-inline: 5%;
    max-height: calc(100vh - 150px);
  }
  &__sns {
    width: 100%;
  }
  &__cta {
    margin-top: 40px;
    @include tab-large {
      display: none;
    }
    &__btnContainer {
      width: 100%;
    }

    .ctaBtn {
      height: 50px;
      margin-top: 16px;
    }
  }
  &__cta__text {
    @include fontSize-clamp(16, 14);
    font-weight: $fw-medium;
    text-align: center;
    color: var(--color-Black05);
    margin-bottom: 20px;
  }

  &__sns {
    margin-top: 20px;
    @include tab-large {
      display: none;
    }
    &__text {
      @include fontSize-clamp(16, 14);
      font-weight: $fw-medium;
      text-align: center;
      color: var(--color-Black05);
      margin-bottom: 18px;
    }
  }
  &__snsList {
    li {
      margin-top: 16px;
    }
  }
}
